body {
  font-family: "Fjalla One", sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/c4491439-34de-4fc7-a3ce-17416038df14%2F855818.jpg?v=1608041347290");
  background-color: lightgreen;
  background-repeat: repeat;
  background-size: 100%;
}

h1 {
  font-style: bold;
  color: green;
  border: 2 px solid black;
}

table,
th,
td {
  border: 3px dotted lightgreen;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: middle;
}

* {
  box-sizing: border-box;
}

.box {
  float: ;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.redbox {
  background-color: lightgreen;
  overflow: auto;
}
.yellowbox {
  background-color: lightgreen;
}
.bluebox {
  background-color: lightgreen;
  color: yellow;
}
.greenbox {
  background-color: green;
  font-size: 20px;
}
.blackbox {
  background-color: lightgreen;
  color: #ffffff;
}

.threecol {
  width: 33.33%;
}
.twocol {
  width: 50%;
}
.onecol {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .threecol,
  .twocol,
  .onecol {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

a {
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  background-color: lightgreen;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: lightgreen;
  background-color: green;
}

/* selected link */
a:active {
  color: green;
}

.attribution {
  width: 600px;
  padding: 50px;
  height: 200px;
  background: white;
  border: 1px solid brown;
  inline: block;
}
